@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.color-1 {
  color: #f5f5f5;
}

.color-2 {
  color: #25127e;
}

.color-3 {
  color: #bf78ce;
}

.color-4 {
  color: #ff3300;
}

.color-5 {
  color: #160d3f;
}

.color-6 {
  color: #727272;
}

body {
  font-family: "Montserrat", sans-serif;
  background: url("assets/wavesbg.png"), -webkit-gradient(linear, left top, right top, from(#25127e), to(#bf78ce));
  background: url("assets/wavesbg.png"), linear-gradient(90deg, #25127e 0%, #bf78ce 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.navbar .nav-link {
  color: #f5f5f5;
  font-weight: 600;
  text-decoration: none;
}

.navbar .ph-list-bold {
  font-size: 2.5rem;
  color: #f5f5f5;
}

.bg-navbar-scroll .ph-list-bold {
  font-size: 2.5rem;
  color: #25127e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bg-navbar-scroll .nav-link {
  color: #25127e;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icon {
  font-size: 64px;
  color: #bf78ce;
  margin-bottom: 15px;
}

.divisorLightCenter {
  width: 20%;
  height: 5px;
  background-color: #f5f5f5;
  margin: 30px auto;
}

.divisorDarkCenter {
  width: 20%;
  height: 5px;
  background-color: #25127e;
  margin: 30px auto;
}

.divisorLight {
  width: 20%;
  height: 5px;
  background-color: #f5f5f5;
  margin: 30px 0;
}

.divisorDark {
  width: 20%;
  height: 5px;
  background-color: #25127e;
  margin: 30px 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  color: #f5f5f5;
}

.hero2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.hero3 {
  background: #160d3f;
  color: #f5f5f5;
}

.wave {
  width: 100%;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.wave2 {
  width: 100%;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

h1 {
  font-weight: bold;
  font-size: 5rem;
}

h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 17px;
  color: #25127e;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.cardBox ul {
  list-style: none;
  padding: 0;
}

.cardBox li {
  padding-left: 1.3em;
}

.cardBox li:before {
  content: "\f00d";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  color: #ff3300;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

ol li {
  counter-increment: my-awesome-counter;
  margin-bottom: 10px;
}

ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: #bf78ce;
  font-weight: bold;
  font-size: 32px;
}

.show-titles {
  display: none;
}

.hold-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 10px;
  text-align: center;
}

.cardPlure {
  text-align: center;
  color: #727272;
  width: 100%;
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background: linear-gradient(180deg, #ffffff 0%, #f5f5f5 100%);
  -webkit-box-shadow: 0px 10px 15px rgba(11, 23, 121, 0.1);
          box-shadow: 0px 10px 15px rgba(11, 23, 121, 0.1);
  border-radius: 50px;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

.cardPlure2 {
  text-align: center;
  color: #727272;
  width: 100%;
  min-height: 300px;
  padding: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background: linear-gradient(180deg, #ffffff 0%, #f5f5f5 100%);
  -webkit-box-shadow: 0px 10px 15px rgba(11, 23, 121, 0.1);
          box-shadow: 0px 10px 15px rgba(11, 23, 121, 0.1);
  border-radius: 50px;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

.cardPlure:hover, .cardPlure2:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: 0px 10px 25px rgba(11, 23, 121, 0.3);
          box-shadow: 0px 10px 25px rgba(11, 23, 121, 0.3);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.cardBox {
  width: 100%;
  background: #f5f5f5;
  -webkit-box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 30px;
}

.girl2 {
  border-radius: 30px;
  width: 100%;
}

.number {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #160d3f;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  padding: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  color: #f5f5f5;
}

.buttonOne {
  background: #bf78ce;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
  color: #f5f5f5;
  padding: 15px 50px;
  margin: 5px;
  font-weight: 600;
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
}

.buttonOne:hover {
  color: #f5f5f5;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  -webkit-box-shadow: 0 8px 10px #0000009b;
          box-shadow: 0 8px 10px #0000009b;
}

.buttonTwo {
  background: #0000005b;
  -webkit-box-shadow: 0 5px 10px #0000005b;
          box-shadow: 0 5px 10px #0000005b;
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
  border: 2px solid #ffffff5b;
  color: #f5f5f5;
  padding: 15px 50px;
  margin: 5px;
  font-weight: 600;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
}

.buttonTwo:hover {
  color: #f5f5f5;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  -webkit-box-shadow: 0 8px 10px #0000009b;
          box-shadow: 0 8px 10px #0000009b;
}

.buttonThree {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
  background: linear-gradient(180deg, #ffffff 0%, #f4f4f4 100%);
  -webkit-box-shadow: 0px 4px 10px rgba(37, 18, 126, 0.1);
          box-shadow: 0px 4px 10px rgba(37, 18, 126, 0.1);
  border-radius: 10px;
  text-decoration: none;
  padding: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #25127e;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.buttonThree:hover {
  color: #bf78ce;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.shake-vertical {
  -webkit-animation: shake-vertical 15s linear infinite both;
  animation: shake-vertical 15s linear infinite both;
}

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

.jello-horizontal:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.mouse-icon {
  position: fixed;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 2px solid #25127e9b;
  border-radius: 16px;
  height: 40px;
  width: 24px;
  display: block;
  z-index: 10;
  opacity: 0.7;
}

.mouse-icon__wheel {
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.mouse-icon__wheel {
  position: relative;
  border-radius: 10px;
  background: #25127e9b;
  width: 2px;
  height: 6px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}

@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */