@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.color-1 {
  color: #f5f5f5;
}

.color-2 {
  color: #25127e;
}

.color-3 {
  color: #bf78ce;
}

.color-4 {
  color: #ff3600;
}

.color-5 {
  color: #000000;
}

.color-6 {
  color: #727272;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#25127e), to(#bf78ce));
  background: linear-gradient(90deg, #25127e 0%, #bf78ce 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

@media screen and (min-width: 768px) {
  body {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

.navbar {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.navbar .nav-link {
  color: #f5f5f5;
  font-weight: 600;
  text-decoration: none;
}

.navbar .ph-list-bold {
  font-size: 2.5rem;
  color: #f5f5f5;
}

.bg-navbar-scroll .ph-list-bold {
  font-size: 2.5rem;
  color: #25127e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bg-navbar-scroll .nav-link {
  color: #25127e;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icon {
  font-size: 64px;
  color: #bf78ce;
  margin-bottom: 15px;
}

.divisorLightCenter {
  width: 20%;
  height: 5px;
  background-color: #f5f5f5;
  margin: 30px auto;
}

.divisorDarkCenter {
  width: 20%;
  height: 5px;
  background-color: #25127e;
  margin: 30px auto;
}

.divisorLight {
  width: 20%;
  height: 5px;
  background-color: #f5f5f5;
  margin: 30px 0;
}

.divisorDark {
  width: 20%;
  height: 5px;
  background-color: #25127e;
  margin: 30px 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  color: #f5f5f5;
}

.hero2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.wave {
  width: 100%;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.wave2 {
  width: 100%;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

h1 {
  font-weight: bold;
  font-size: 5rem;
}

h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 17px;
  text-align: center;
  color: #25127e;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

ol li {
  counter-increment: my-awesome-counter;
  margin-bottom: 10px;
}

ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: #bf78ce;
  font-weight: bold;
  font-size: 32px;
}

.show-titles {
  display: none;
}

.hold-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 10px;
  text-align: center;
}

.cardPlure {
  text-align: center;
  color: #727272;
  width: 100%;
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background: linear-gradient(180deg, #ffffff 0%, #f5f5f5 100%);
  -webkit-box-shadow: 0px 10px 15px rgba(11, 23, 121, 0.1);
          box-shadow: 0px 10px 15px rgba(11, 23, 121, 0.1);
  border-radius: 30px;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

.cardPlure:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: 0px 10px 25px rgba(11, 23, 121, 0.3);
          box-shadow: 0px 10px 25px rgba(11, 23, 121, 0.3);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #160d3f;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  padding: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  color: #f5f5f5;
}
/*# sourceMappingURL=style.css.map */